################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookReaderApp/FileContentIndex/167f00ef-45e2-4a42-9419-52273357be6e.vsidx
/.vs/BookReaderApp/FileContentIndex/4cc7c5fd-6aa1-4865-9e21-43ce2e9af693.vsidx
/.vs/BookReaderApp/FileContentIndex/503ffd85-d74b-41f8-b135-165a658fc31b.vsidx
/.vs/BookReaderApp/FileContentIndex/3230b343-edef-4c86-9e09-c48a6fc6e969.vsidx
/.vs/BookReaderApp/FileContentIndex/a16446f6-78fa-40da-af8a-3324c7a1f11c.vsidx
/.vs/BookReaderApp/FileContentIndex/a3a29889-2d31-4e2a-81e1-23b8d08a1dae.vsidx
/.vs/BookReaderApp/FileContentIndex/4919f4da-336a-4025-a42d-aaaeb5e6d34c.vsidx
/.vs/BookReaderApp/FileContentIndex/aaf4591f-1852-429a-a0eb-672de689d66f.vsidx
/.vs/BookReaderApp/FileContentIndex/fd786ee5-feb1-48c3-9aeb-e17b31f98cfe.vsidx
*.vsidx
