################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookReaderApp/FileContentIndex
/BookReaderApi/.vs/BookAppApi/FileContentIndex
